<!DOCTYPE HTML>
<html>
	  <head>
	  <title>Office2Smart</title>
	  
	  </head>
	  <body>
	       
	  		<h1>Office2Smart</h1>
			
			<hr>
                        <fieldset>
			<div class="status">
                    		<p>
                        		Light Status: {{ a }} LUX
                    		</p>
                	</div>

			<div class="status">
                    		<p>
                        		 Sound Status: {{ b }} dB
                    		</p>
                	</div>

			<div class="status">
                    		<p>
                        		Temperature Status: {{ c }} Celsius
                    		</p>
                	</div>
			<div class="date">
                    		<p>
                        		Date: {{ d }} 
                    		</p>
                	</div>
			
                        </fieldset>
			<hr>
			<a href="https://yildirimsemih.wordpress.com/2016/03/05/iot-hackathon-izmir-office2smart/">Related blog post about Office2Smart</a> 
			

	  </body>
</html>
